.container {
    height: 500px;
    width: 500px;
    background: linear-gradient(to right, #9900ff, #cc00ff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

.innerBox {
    min-width: 380px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
}

.footer button:hover {
    background-color: #cc00ff;
    cursor: pointer;
}

.footer p {
    font-weight: 700;
    color: #000;
}

.footer p span {
    font-weight: bold;
    color: #9900ff;
    letter-spacing: 1px;
}

.close {
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 2.5rem;
    rotate: 45deg;
    color: #fff;
}