.sidebar-sec{
    /* position: fixed;  */
    /* top: 60px;  */
    /* margin-top: 60px; */
    margin-bottom: 1.2rem;
    padding: 1.5rem;
    width: 250px;
    height: 100vh;
    /* border-right: .5px solid rgba(63, 62, 62, 0.8); */
    line-height: 1.2rem;
    
}
.side-bar{
  position: fixed;
    width: 250px;
    line-height: 1.2rem;
    border-right: .5px solid rgba(78, 76, 76,.8);
    /* overflow-x: hidden;
    overflow-y: auto;*/
    text-align:justify; 
    overflow-x: hiden;
     overflow-y: auto;
     /* white-space: nowrap; */
     margin-top: 2.2rem;
     margin-bottom: 2.2rem;
}
/* ::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */

.sidebar-heading{
    color: rgb(105, 102, 102);
    opacity: .8; 
   font-weight: 500;
   margin-top: 2px;
   margin-bottom: 2px;
}

.join-redditbtn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: #ffffff;
    font-size:1rem;
    font-weight: 600;
    cursor: pointer;
}
.sidebar-lower{
    position: fixed;
    bottom: 0;
    width:250px ;
    background-color: #ffffff;
    border-top: .5px solid rgba(78, 76, 76,.8);
    border-right: .5px solid rgba(78, 76, 76,.8);
}
.title{
margin-top: .4rem;
margin-bottom: .4rem;
}
.join-redditbtn:hover{
  background-color: #ff4a07;
 transition: background-color 500ms ease-in;
}